<div class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4">
        <div class="card mb-4">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>{{ product.price | currency }}</strong></p>
            <a [routerLink]="'/product/' + product._id" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  